{% for modification in audit_trail %}
<div class="card" style="padding-bottom: 3rem;">
    <div class="card-header">
      Change occured on : {{modification.MODIFIED_ON}}
    </div>
    <div class="card-body">
      {%for column in modification['MODIFIED_COLUMNS'] %}
      <h5 class="card-title">Column changed: {{column}}</h5>
      <p class="card-text">From {{modification['MODIFIED_COLUMNS'][column][0]}} to {{modification['MODIFIED_COLUMNS'][column][1]}}.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
      {% endfor %}
    </div>
    <div class="card-footer text-muted" style="padding-top: 3px;">
      By Omar Fessi
    </div>
  </div>
{% endfor %}

