<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>
      DataTable Inline Editing using Python Flask MySQLdb jquery ajax and
      X-Editable
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!--this is jquery core lib -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    />
    <!-- bootstrap css styling -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> bootstrap css js to make component work,  it will be included at the end-->

    <!-- !!!!!!data tables imports start from here!!!!!! https://datatables.net/examples/styling/bootstrap.html -->
    <!-- jquery datatable and datatables bootstrap libraries js and a css files -->
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <!--jquery core has been imported before, this line is to import jquery.datatable -->
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <!-- datatables.bootstrap.js : dependency to make datatable work -->

    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css"
    />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- this line was imported before (commented)  -->

    <!-- X-Editable starts from here -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.js"></script>

    <link rel="stylesheet" href="../static/css/styles.css" />

    <script type="text/javascript" language="javascript">
      $.fn.editable.defaults.mode = 'inline';
      $(document).ready(function () {
        var dataTable = $("#sample_data").DataTable({
		      serverSide: true,
          ajax: '/api/data',
          scrollX: true,
          columnDefs: [ { "defaultContent": "-", "targets": "_all" } ],
          
          columns: [
            {data: 'id'},
            {data: 'name'},
            {data: 'age'},
            {data: 'address', orderable: false},
            {data: 'phone', orderable: false},
            {data: 'email'},
            {data: 'country'},
            {data: 'date_of_birth'},
            {data: 'team_member'},
            {data: 'is_monitored'},
            ],
          createdRow:function(row, data, rowIndex)
          {
            $.each($('td', row), function(colIndex){
              if(colIndex == 1)
              {
                $(this).attr('data-name', 'name');
                $(this).attr('class', 'name');
                $(this).attr('data-type', 'text');
                $(this).attr('data-pk', data['id']);
              }

              if(colIndex == 9)
              {
                $(this).attr('data-name', 'monitored'); // this is karg to retreive from request name will be equal to monitored
                $(this).attr('class', 'monitored');
                $(this).attr('data-type', 'select');
                $(this).attr('data-pk', data['id']);
              }
            })
          }
        });

        $('#sample_data').editable({
          container:'body',
          selector:'td.name',
          url:'/api/updateemployee',
          title:'Name',
          type:'POST',
          validate:function(value){
            if($.trim(value) == '')
            {
              return 'This field is required';
            }
          }
        });
        
    //     $(".name").editable({
    //       validate: function (value) {
    //         if ($.trim(value) == "") {
    //           return "This field is required";
    //         }
    //       },
        
    //     });
    //     $(".team_member").editable({
    //       value: 1,  
    //       source: [
    //             {value: 1, text: 'DPO'},
    //             {value: 2, text: 'IG Member'},
    //             {value: 3, text: 'Work Council'},
    //             {value: 4, text: 'Legal Member'}
                
    //         ]

    //     })

        $('#sample_data').editable({
          container:'body',
          selector:'td.monitored',
          datatype: 'json',
          source: [
            { value: 1, text: "true" },
            { value: 2, text: "false" },
          ],
          url:'/api/updateemployee',
          title:'Monitored', //  not title sent to endpoint instead it is monitored 
          type:'POST',
          validate:function(value){
            if($.trim(value) == '')
            {
              return 'This field is required';
            }
          }
        });

    //     $('.team_member').editable({
    //     value: 1,  
    //     source: [
    //           {value: 1, text: 'DPO'},
    //           {value: 2, text: 'IG Member'},
    //           {value: 3, text: 'Work Council'},
    //           {value: 4, text: 'Legal Member'}
    //        ]
    // })
      });
    </script>
  </head>

  <body>
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}"> {{ message }} </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <h3 align="center">All DAta Golden Employees Source</h3>
      <br />
      <!-- <div class="panel panel-default">  -->
      <!-- <div class="panel-heading"> DataTable</div> -->
      <div class="panel-body">
        <div class="table-responsive">
          <table
            id="sample_data"
            class="table no-border-bottom table-striped text-color display nowrap"
            style="width:100%"
          >
            <thead>
              <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>AGE</th>
                <th>ADDRESS</th>
                <th>PHONE</th>
                <th>EMAIL</th>
                <th>COUNTRY</th>
                <th>BIRTH_DATE</th>
                <th>TEAM_MEMBER</th>
                <th>MONITORED</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
      <!-- </div>  -->
    </div>
    <br />
    <br />
  </body>
</html>
